<div>
  <div id="index_placeholder"></div><!--/div><WHY IE need one more </div> -->
</div>
<script id="source" language="javascript" type="text/javascript">
$(function () {
	iwakela$graph$drawUserSummary({
		data: {
			"wake": {
				label: "起床時間",
				data: <%= @time %>,
				color: 1
				}
		},
		container: $("#index_placeholder")
	});	
});
</script>
