<div>
  <div id="index_placeholder"></div><!--/div><WHY IE need one more </div> -->
</div>

  <script id="source" language="javascript" type="text/javascript">

    $(function () {
        var time = <%= @time %>;

        var time_set = {
          "wake": {
            label: "起床時間",
            data: time,
            color: 1
            }
        };

        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css( {
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5,
                border: '2px solid #000',
                padding: '5px',
                'background-color': '#FFFFEE',
                opacity: 0.80
            }).appendTo("body").show(200);
        }

        function plotAccordingToChoices() {
          var data = [];

          data.push(time_set['wake']);

          $("#overviewLegend").html("");

              var plot = $.plot($("#index_placeholder"),
                
              data,
              {
                  yaxis: { minTickSize: 1 },
                  xaxis: { mode: "time", minTickSize: [2, "day"], timeformat: "%y/%m/%d" },
                  lines: { show: true },
                  points: { show: true },
                  legend: { show: true },
                  grid: { hoverable: true }
              });

              var previousPoint = null;            
              $("#index_placeholder").bind("plothover", function (event, pos, item) {
                  if (item) {
                      if (previousPoint != item.datapoint) {
                          previousPoint = item.datapoint;
                          
                          $("#tooltip").remove();
                          var x = item.datapoint[0].toFixed(2),
                              y = item.datapoint[1].toFixed(2);

                          var day = new Date(x*1.0);

                          var len = y.length
                          if (len == 4) {
                            var integer = y.slice(0,1);
                          }
                          else if (len == 5) {
                            var integer = y.slice(0,2);
                          }

                          var time = ((y*1.0- integer*1).toFixed(2)*60.0).toFixed(0)

                          if (time.length == 1) {
                            var tiptime = integer + ":0" + time;
                          }
                          else {
                            var tiptime = integer + ":" + time;
                          }

                          showTooltip(item.pageX, item.pageY,
                              "<div style='font-size:80%;color:#0000DD'>" +
                                day.getFullYear() + "年" + (day.getMonth()+1) + "月" + day.getDate() + "日" +
                              "</div>" +
                              "<div style='color:#000;'>" +
                                item.series.label + tiptime +
                              "</div>"
                              );
                      }
                  }
                  else {
                      $("#tooltip").remove();
                      previousPoint = null;            
                  }
              });

        }

        plotAccordingToChoices();
});
</script>
