請填入您的帳號(E-mail), 再到您信箱確認即可
<% form_for :user, :url => {:action => 'forget_password'} do |form| %>
  <label for="user_email" class="block">Email</label>
  <%= form.text_field :email, :size => 45, :class => 'text' %>
  <%= submit_tag '送出' %>
<% end %>
