<ul>
  <li style='padding-top:5px;'>
     2008-08-30 : 新增<%= link_to 'blog貼紙', user_url(:action => "edit", :id => @me )%>
  </li>
  <li style='padding-top:5px;'>
     2008-08-29 : 新增<%= link_to '積分狀態', main_url(:action => "history", :anchor => 'score')%>
  </li>
  <li style='padding-top:5px;'>
     2008-08-26 : 每日目標新增排序, 暫存功能 
  </li>
  <li style='padding-top:5px;'>
     2008-05-17 : 早鳥誕生
  </li>
<ul>
