<% form_for :user, :url => {:action => "reset_password"} do |form| %>
  <label for="user_password" class="block">密碼</label>
  <%= form.password_field :password, :size => 45, :class => 'text' %><br />

  <label for="user_password_confirmation" class="block">再輸入一次</label>
  <%= form.password_field :password_confirmation, :size => 45, :class => 'text' %>
  <%= submit_tag "重設你的密碼" %>
<% end %>
