蘇麗文
-----------------------------------------------------------------
雖然各媒體已經快被這個話題洗版面, 可是我還是要發...

http://news.yam.com/tlt/sports/200808/20080823313132.html
http://mag.udn.com/mag/beijing2008/storypage.jsp?f_ART_ID=144517
http://mag.udn.com/mag/beijing2008/storypage.jsp?f_ART_ID=144823
http://jasonblog.tw/2008/08/olympic-fighter-xu-li-wen.html
-------------------------------------------------------------------

<% if @records.size != 7 %>
  您這禮拜有<%= 7-@records.size %>天沒做紀錄喔
<% end %>

<%= @user.name -%>
這是您這禮拜(<%= Time.now.strftime("%m/%d") %> ~ <%= 6.days.ago(Time.now).strftime("%m/%d")%>)的起床紀錄

<% @records.each do |r|%>
  <%= r.todo_time.strftime("%Y/%m/%d  %H:%M") %>
<% end %>

----------------------------------------------------------------------
你這禮拜的平均起床時間是<%= @average.strftime("%H:%M") %>, 繼續加油吧

感謝您使用早鳥網 iwakela.com  m(_._)m
