<%= error_messages_for :mugshot %>

<% form_for(:mugshot, :url => {:action => 'create'}, :html => { :multipart => true }) do |f| -%>
  <p>
    <label for="mugshot">上傳圖片:</label>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= submit_tag '送出' %>
  </p>
<% end -%>
