
.bg-lb{
  background-color :#E1ECFE;
}

.bg-or {
  background-color :#FFEA70;
}

.bg-lg{
  background-color :#B5EDBC;
}

.pad-5 {
  padding: 5px;
}

.mar-5 {
  margin: 5px;
}

tr.sleep {
  background: #dddddd;
}

tr.target_fail {
  background: #FFEA70;
}

.center {
  text-align:center;
}
