/* ---- ( iTunes CSS ) ---- */
table { 
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	border-collapse: collapse;
	/*border: 1px solid #666666;*/
	border-top: none;	
}
table a {
	text-decoration: underline;
}
/*table a:visited {
	text-decoration: none;
}*/
tr a {
	color: #000000;
	text-decoration: none;
}
/*tr:hover a {
	color: #ffffff;
}
tr:hover, tr.odd:hover {
	background-color: #3d80df;
	color: #ffffff;
}*/
caption {
	height: 45px;
	line-height: 44px;
	color: #60634E;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #ffffff no-repeat;
	background-position: 50% top;
	border-left: 2px solid #616161;
	border-right: 2px solid #616161;
}
thead th {
	font-size: 105%;
	color: #000;
	background: #ffffff repeat-x;
	height: 33px;
	border-bottom: 1px solid #dadada;
}
thead th:hover {
	background: #ffffff repeat-x;
	
}
tr {
	vertical-align: top;
	border-bottom: 1px solid #dadada;*/
}

tr,th,td {
	padding: 0.55em;
	/*padding: 2px;*/
}
td {
/*	border-left: 1px solid #dadada;*/
/*	border-right: 1px solid #dadada;*/
}

tfoot tr {
	background: #fff repeat-x;
}
tfoot td, tfoot th{
	color: #000;
	border: 0px;
}

