<table>
  <thead>
    <th></th>
    <th>團名</th>
    <th>團長</th>
    <th>希望團員的條件</th>
  </thead>
  <% groups.each do |g|%>
    <tr>
      <td><%= "<span class='alert'>停</span>" if g.state == 2 || g.state == 3 %></td>
      <td class='group_name'><%= link_to_group(g.name, g.id) %></td>
      <td class='group_owner'><%= link_to_user(g.owner, g.owner.name) %></td>
      <td class='group_condition'><%= truncate(h(g.condition), 55) %></td>
    </tr>
  <% end %>
</table>
