<h1>編輯</h1>
<% form_for :group, :url => {:action => 'update', :id => @group} do |f|%>
  <%= error_messages_for 'group' %>
  <%= render :partial => 'form' %>
  <p><label for="group_user_num">停止徵人</label><br/>
    <%= check_box 'group', 'fill' %></p>
  <%= submit_tag "確定完成" %>
  <%= link_to '取消', :action => 'index' %>
<% end %>

