<div class='announce_image'>
  <%= image_tag("smallscreen.png")%><br />
  <%= link_to '功能介紹', :controller => 'main', :action => 'history'%>
</div>

<div class='announce_word'>
  你的作息時間不正常嗎？
    <br />
  人生中有許多的好習慣值得養成，
    <br />
  早鳥是個提供你紀錄調整作息, 規畫每日目標的地方。
    <br />
</div>

<div class='clear'></div>
<hr>
