<div class='announce_word'>
  你的作息時間不正常嗎？
  有著許多的計畫卻都半途而廢？ 
  人生中有許多的好習慣值得養成, 
  如果你希望開始改變, 那麼就早鳥是個可以提供你紀錄調整作息, 規畫每日目標的地方。
  有紀錄, 才有檢討, 也才會有進步
    <br />
    <br />
  如果想要進一步了解早鳥提供的服務, 可以到<%= link_to '功能介紹', :controller => 'main', :action => 'history'%>
</div>

<div class='announce_image'>
  <%= image_tag("smallscreen.png")%>
</div>
<div class='clear'></div>
<hr>
