<li class = "census"><%= exact_target_time(@user) %></li>
<li class = "census"><%= success_census(@user) %></li>
<li class = "census"><%= continuous_success_num(@user) %></li>
<li class = "census"><%= all_average(@user) %></li>
<li class = "census"><%= diff_value(@user) %></li>
<div class= "my_score_status">
  <%= score_state(@user) %>
</div>
