<li class = "census"><%= exact_target_time(@me) %></li>
<li class = "census"><%= success_census(@me) %></li>
<li class = "census"><%= continuous_success_num(@me) %></li>
<li class = "census"><%= all_average(@me) %></li>
<li class = "census"><%= diff_value(@me) %></li>
<!--li class = "census"><%#= exact_score(@me) %></li-->
