<li class = "census"><%= exact_target_time %></li>
<li class = "census"><%= success_census %></li>
<li class = "census"><%= continuous_success_num %></li>
<li class = "census"><%= all_average %></li>
<li class = "census"><%= diff_value %></li>
