<div class='menu'>
  <ul>
    <%= link_sub_tab([
                     [ 'menu.census', 'member', 'census' ],
                     [ 'menu.journal', 'member', 'journal' ],
                     [ 'menu.night_journal', 'member', 'night_journal' ],
                     [ 'menu.todo', 'member', 'todo' ],
                     [ 'menu.messages', 'messages', 'index' ],
                     [ 'menu.profile', 'user', 'show' ],
                     [ 'menu.friends', 'friend', 'list' ]
    ]) %>
  </ul>
</div>
