<% form_for :user, @user, :url => {:action => 'login', :style => 'mobile'} do |f| -%>
  <table>
    <tr><td>會員帳號(E-Mail):</td></tr>
    <tr><td><%= f.text_field :email %></td></tr>
    <tr><td>密碼:</td></tr>
    <tr><td><%= f.password_field :password %></td></tr>
    <tr><td><%= check_box_tag :remember %></td></tr>
    <tr><td> 不登出,下次不用打密碼</td></tr>
    <tr><td><%= submit_tag "進入" %></td></tr>
  </table>
<% end -%>
