<% form_for :user, :url => {:action => 'edit_password'} do |f|%>
  <ul>
    <li>舊密碼<%= password_field :current_user, :old_password %></li>
    <li>新密碼<%= password_field :user, :password %></li>
    <li>請再輸入一次<%= password_field :user, :password_confirmation %></li>
  </ul>
  <%= submit_tag "變更"%>
<% end %>
