<% @users.each do |u| %>
  <div class='user_list'>
    <span class="about">
      <h2><%= link_to_user(u, u.name) %></h2>
    </span>
    <span class="pic">
      <%= link_to_user_image(u)%>
    </span>
  </div>
<% end %>
<div class='clear'></div>
<%= will_paginate @users %>
