<table>  
  <thead>
    <th>暱稱</th>
    <th>自介</th>
  </thead>
  <% @users.each do |u|  %>
    <tr class="<%= cycle('title','')%>">
      <td class="user-name"><%= link_to_user(u, u.name, nil, true) %></td>    
      <td class="user-profile"><%= u.profile.others %></td>    
    </tr>
  <% end %>
</table>
<%= will_paginate @users %>
