<tr goal_id=<%=g.id%>>
  <td class="goal_name"><%= h(g.name) %></td>
    <td class="change_goal_status" status='0'><a href='javascript:;' class='journal-img journal-todo-back'></a></td>
  <td class="goal_total_num"><%= g.total %></td>
</tr>
