<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content="早鳥網 一個幫助你早起的地方"/>
  <meta name="keywords" content="早鳥網,iwakela,晨型人,早晨,早睡早起,時間管理,人生,生活,生涯,規畫,早起,早鳥,早睡,作息時間,早起團,早安,紀錄,early,bird,birds,earlybird,earlybirds"/> 
  <meta name="author" content="lake"/> 

  <title>早鳥網 一個紀錄幫助你早起的地方</title>

  <%= stylesheet_link_tag "defaults", "itunes", "paginator", "flora.datepicker.css", :cache => 'add_jrails' %>
  <%= stylesheet_link_tag "eb" %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "jquery",
                             "jrails",
                             "jquery.corner.js",
                             "jquerypngfix.js",
                             "jquery-ui-personalized-1.5.3.min",
                             :cache => 'add_jrails' %>
      <!--[if IE]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.pack.js"></script><![endif]-->
  <%= javascript_include_tag "jquery.flot.js" %>

  <%= yield :page_spec %>

  <script type='text/javascript'>
        function time_now() {
          var t = new Date();
          var year = t.getFullYear();
          var month = t.getMonth();
          month+=1;

          var day = t.getDate();
          var hours = t.getHours();
          var minutes = t.getMinutes();
          var seconds = t.getSeconds();

          var now = year+"-"+ month+"-"+ day+"-"+ hours+":"+ minutes+":"+ seconds
          return now;
        }

    $(function() {
        $('.rounded').corner();
        $("img").pngfix();

        var flag = true;

        $('.alarm_clock').click(function(){
          var now = time_now();
          if (flag) {
            flag = false;
            window.location = '/member/wake_up?time='+now;
          }

          return false;
          });

        $('.sleep_button').click(function(){
          var now = time_now();

          if (flag) {
            flag = false;
            window.location = '/member/sleep?time='+now
          }

          return false;
          });

        $('.my_score_status').click(function(){
          window.location = '/main/history#score'

          return false;
          });
    });
  </script>

</head>

<body>

<div class="container">
  <div class="top_bar">
    <div class='top_info'>
      <span class='alert_red'>早鳥網</span> | 
      <%= image_tag("icon_new.gif")%><%= link_to '名字對戰製造機', namepk_url %>
    </div>
    <div class="auth">
      <% if @me %>
        <%= "<span class='alert'>[請假中]</span>" unless @me.status.fight%>
        <%= link_to_member(@me, "#{@me.name}的起床日誌")%> | 
        <%= link_to_my_group %> |
        <%= link_to '登出', :controller => 'main', :action => 'logout' %> | 
        <%= link_to '個人設定', :controller => 'user', :action => 'edit', :id => @me.id %>
      <% else%>
        <%= link_to '登入', :controller => 'main', :action => 'login' %> | 
        <%= link_to '註冊', :controller => 'main', :action => 'register' %> | 
        <%= link_to '忘記密碼', :controller => 'main', :action => 'forget_password' %>
      <%end%>
    </div>
</div>
	
  <div class="main">

    <% if @header %>
      <div class="header2 rounded">
        <div class="title">
          <h1 style='display:none'>早鳥網</h1>
          <a href='<%= home_url %>'>
            <h1 class="ebhead">
              <%= @header %>
            </h1>
          </a>
        </div>
      </div>
    <% else %>
      <div class="header rounded">
        <div class="title">
          <h1 style='display:none'>早鳥網</h1>
          <a href='<%= home_url %>'>
            <h1 class="ebhead">
            </h1>
          </a>
        </div>
      </div>
    <% end %>
    <div id="menu">
      <!-- HINT: Set the class of any menu link below to "active" to make it appear active -->

      <ul>
        <% if @me %>
          <%= link_tab([
                       [ '首頁', 'main', 'index' ],
                       [ '我的起床紀錄', 'member', 'list'],
                       [ '早鳥團', 'groups', 'index' ],
                       [ '嘰嘰喳喳', 'chats', 'list' ],
                       [ '排行榜', 'user', 'list_user_rank' ],
                       [ '討論區', 'forums', 'index' ],
                       [ '使用者列表', 'user', 'list' ]
          ]) %>
        <% else %>
          <%= link_tab([
                       [ '首頁', 'main', 'index' ],
                       [ '早鳥團', 'groups', 'index' ],
                       [ '嘰嘰喳喳', 'chats', 'list' ],
                       [ '排行榜', 'user', 'list_user_rank' ],
                       [ '討論區', 'forums', 'index' ],
                       [ '使用者列表', 'user', 'list' ]
          ]) %>
        <% end %>
      </ul>
    </div>
    <br />
		<div class="content">
	    
			<div class="item">
        <%= show_messages %>
        <%= yield %>
        <%= yield :sider %>
			</div>

		</div>

	</div>
  <div class='clear'></div>
  <div class="footer">
    <%= link_to "關於早鳥", :controller => 'about', :action => 'about'%>
    <%= mail_to "iwakela@gmail.com", "聯絡早鳥" %>
    <%= link_to '新朋友註冊', :controller => 'main', :action => 'register'%>
  </div>

 <% if RAILS_ENV == "production" -%>
   <!-- google analytic -->
   <script type="text/javascript">
     var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
     document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
   </script>
   <script type="text/javascript">
     var pageTracker = _gat._getTracker("UA-4497093-1");
     pageTracker._initData();
     pageTracker._trackPageview();
   </script>
 <% end %>
</div>
</body>

</html>
