<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content="早鳥網 一個幫助你早起的地方"/>
  <meta name="keywords" content="早鳥網,iwakela,晨型人,早晨,早睡早起,時間管理,人生,生活,生涯,規畫,早起,早鳥,早睡,作息時間,早起團,早安,紀錄,early,bird,birds,earlybird,earlybirds"/> 
  <meta name="author" content="lake"/> 

  <title><%= t 'site.slogan' %></title>
  <%= stylesheet_link_merged :base %>
  <%= javascript_include_tag 'jquery-1.3.2.min.js'%>
  <!--script src="http://www.google.com/jsapi"></script>
  <script>
    google.load("jquery", "1.3.2");
  </script-->
  <%= javascript_include_merged :base %>

  <%= yield :page_spec %>
</head>

<body>
<div class="container">
  <div class="top_bar">
    <div class='top_info'>
      <span class='alert_red'><%= t 'site.name' %></span> | 
      <%= link_to t('pk_site.name'), namepk_url %>
    </div>
    <div class="auth">
      <% if @me %>
        <%= "<span class='alert'>[#{t('member.sick')}]</span>" unless @me.status.fight%>
        <%= link_to_member(@me, "#{@me.name}#{t('member.record_title')}")%> | 
        <%= link_to_my_group %> |
        <%= link_to t('site.logout'), :controller => 'main', :action => 'logout' %> | 
        <%= link_to t('member.setting'), :controller => 'user', :action => 'edit', :id => @me.id %>
      <% else%>
        <%= link_to t('site.login'), :controller => 'main', :action => 'login' %> | 
        <%= link_to t('site.signup'), :controller => 'main', :action => 'register' %> | 
        <%= link_to t('site.forget_password'), :controller => 'main', :action => 'forget_password' %>
        <%= link_to t('site.resend_confirm'), :controller => 'main', :action => 'resend_confirm' %>
      <%end%>
      <span class='w-red'>
      <%= language_mobile_setting %>
      </span>
    </div>
</div>
	
  <div class="main">

   <%= render_stickies%>
    <div class="menu">
      <!-- HINT: Set the class of any menu link below to "active" to make it appear active -->

      <ul>
        <% if @me %>
          <%= link_tab([
                       [ 'menu.index', 'main', 'index' ],
                       [ 'menu.home', 'member', 'journal'],
                       [ 'menu.group', 'groups', 'index' ],
                       [ 'menu.chat', 'chats', 'list' ],
                       [ 'menu.rank', 'user', 'list_user_rank' ],
                       [ 'menu.forum', 'forums', 'index' ],
                       [ 'menu.word', 'great_word', 'index' ],
                       [ 'menu.user', 'user', 'list' ],
                       [ 'menu.newbie', 'main', 'history' ]
          ]) %>
        <% else %>
          <%= link_tab([
                       [ 'menu.index', 'main', 'index' ],
                       [ 'menu.group', 'groups', 'index' ],
                       [ 'menu.chat', 'chats', 'list' ],
                       [ 'menu.rank', 'user', 'list_user_rank' ],
                       [ 'menu.forum', 'forums', 'index' ],
                       [ 'menu.word', 'great_word', 'index' ],
                       [ 'menu.user', 'user', 'list' ],
                       [ 'menu.newbie', 'main', 'history' ]
          ]) %>
        <% end %>
      </ul>
    </div>
    <!--[if lte IE 6]>
    <div style="background-color:#DDECFF;margin:5px 0 5px 0;padding:3px 10px 3px 10px;border-color:#F6F6F6; border-style:solid;border-width:2px;">
      <p><font size="2"><strong>您好</strong>，您目前使用的是舊版的<del>IE 6.0網路瀏覽器</del>，建議使用更快、更好用的瀏覽器！ 如：<big><a target="_blank" href="http://briian.com/?p=6248"><u>Firefox</u> <font color="red"></font></a></big>、<a target="_blank" href="http://briian.com/?p=5726">Google瀏覽器</a>。</font></p>
    </div>
    <![endif]-->
		<div class="content">
	    
			<div class="item">
        <%#= show_messages %>
        <%= yield %>
        <%= yield :sider %>
			</div>

		</div>

	</div>
  <div class='clear'></div>
  <div class="footer">
    <%= link_to "關於早鳥", :controller => 'about', :action => 'about'%>
    <%= mail_to "iwakela@gmail.com", "聯絡早鳥" %>
    <%= link_to '新朋友註冊', :controller => 'main', :action => 'register'%>
  </div>

  <% if RAILS_ENV == "production" -%>
    <!-- google analytic -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-4497093-1");
        pageTracker._initData();
        pageTracker._trackPageview();
        </script>
      <% end %>


      <%= javascript_include_tiny_mce_if_used %> 
      <%= tiny_mce if using_tiny_mce? %>


      <script type='text/javascript'>
        $(function() {
            $('.rounded').corner();
            $("img").pngfix();
        });
      </script>
      <%= yield :js_ready %>
</div>
</body>

</html>
