<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
  <meta name="description" content="早鳥網 一個幫助你早起的地方"/>
  <meta name="keywords" content="早鳥網,iwakela,晨型人,早晨,早睡早起,時間管理,人生,生活,生涯,規畫,早起,早鳥,早睡,作息時間,早起團,早安,紀錄,early,bird,birds,earlybird,earlybirds"/> 
  <meta name="author" content="lake"/> 

  <title>早鳥網 一個紀錄幫助你早起的地方</title>

  <%= stylesheet_link_tag "defaults", "itunes", "eb", :cache => 'main' %>
  <%= stylesheet_link_tag "eb" %>
  <%= javascript_include_tag "jquery", "jquery.corner.js", "jquerypngfix.js", :cache => 'main' %>

  <%= yield :page_spec %>

  <script type='text/javascript'>
    $(function() {
        $('.rounded').corner();
        $("img").pngfix();
    });
  </script>

</head>

<body>

<div class="container">
  <div class="top_bar">
    <div class="auth">
      <% if @me %>
        <%= "<span class='alert'>[請假中]</span>" unless @me.status.fight%>
        <%= link_to_user(@me, "#{@me.name}的起床日誌")%> | 
        <%= link_to_my_group %> |
        <%= link_to '登出', :controller => 'main', :action => 'logout' %> | 
        <%= link_to '個人設定', :controller => 'user', :action => 'edit', :id => @me.id %>
      <% else%>
        <%= link_to '登入', :controller => 'main', :action => 'login' %> | 
        <%= link_to '註冊', :controller => 'main', :action => 'register' %> | 
        <%= link_to '忘記密碼', :controller => 'main', :action => 'forget_password' %>
      <%end%>
    </div>
</div>
	
  <div class="main">

    <% if @header %>
      <div class="header2 rounded">
        <div class="title">
          <a href='<%= home_url %>'>
            <h1 class="ebhead">
              <%= @header %>
            </h1>
          </a>
        </div>
      </div>
    <% else %>
      <div class="header rounded">
        <div class="title">
          <a href='<%= home_url %>'>
            <h1 class="ebhead">
            </h1>
          </a>
        </div>
      </div>
    <% end %>

    <br />
		<div class="content">
	    
			<div class="item">
        <%= show_messages %>
        <%= yield%>
			</div>

		</div>

    <div class="sidenav rounded">

      <% if @me %>
        <h1>早起成果</h1>
        <ul>
          <%= render :partial => "shared/census"%>
        </ul>
        <% if  r = @me.today_record %>
          <h1>今天起床時間</h1>
          <div class='number_clock rounded'>
            <%= image_tag(r.success ? 'thumbup.gif' : 'thumbdown.gif') %> <br />
            <%= number_clock       r %>
          </div>
        <% else %>
          <h1>起床囉！</h1>
          <div class='alarm_clock'>
            <%= link_to "#{image_tag('clock.gif')}<br /> 紀錄現在時間",
              {:controller => 'member', :action => 'wake_up'} %>
          </div>
        <% end %>
      <% end %>

      <h1>功能列表</h1>
      <ul>
        <% if @me %>
          <%= link_tab([
                       [ '首頁', 'main', 'index' ],
                       [ '我的起床紀錄', 'member', 'list'],
                       [ '早鳥團', 'groups', 'index' ],
                       [ '早鳥嘰嘰喳喳', 'chats', 'list' ],
                       [ '早鳥排行榜', 'user', 'list_user_rank' ],
                       [ '早鳥的過去', 'member', 'list_all_records' ],
                       [ '早鳥討論區', 'forums', 'index' ],
                       [ '使用者列表', 'user', 'list' ]
          ]) %>
        <% else %>
          <%= link_tab([
                       [ '首頁', 'main', 'index' ],
                       [ '早鳥團', 'groups', 'index' ],
                       [ '早鳥嘰嘰喳喳', 'chats', 'list' ],
                       [ '早鳥排行榜', 'user', 'list_user_rank' ],
                       [ '早鳥的過去', 'member', 'list_all_records' ],
                       [ '早鳥討論區', 'forums', 'index' ],
                       [ '使用者列表', 'user', 'list' ]
          ]) %>
        <% end %>
      </ul>

      <br />
      <div style='text-align: center'> 
        <a href="http://www.spreadfirefox.com/node&id=0&t=323">
          <img border="0" alt="Foxkeh" title="Foxkeh" 
          src="http://images.spreadfirefox.com/affiliates/Buttons/firefox3/foxkeh-fx3-125x125.png"/>
        </a>
      </div>

    </div>

		<div class="clearer"><span></span></div>

	</div>

  <div class="footer">
    <%= link_to "關於早鳥", :controller => 'about', :action => 'about'%>
    <%= mail_to "iwakela@gmail.com", "聯絡早鳥" %>
    <%= link_to '新朋友註冊', :controller => 'main', :action => 'register'%>
  </div>

 <% if RAILS_ENV == "production" -%>
   <!-- google analytic -->
   <script type="text/javascript">
     var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
     document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
   </script>
   <script type="text/javascript">
     var pageTracker = _gat._getTracker("UA-4497093-1");
     pageTracker._initData();
     pageTracker._trackPageview();
   </script>
 <% end %>
</div>
</body>

</html>
