<head>
  <%= stylesheet_link_tag 'namepk' %>
  <%= javascript_include_tag "jquery", "jquery.corner.js", "jquerypngfix.js","jquery-ui-tab-1.6b.min.js", :cache => 'main2' %>

  <%= yield :page_spec %>
</head>
<%= yield %>
