<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	zenlike1.0 by nodethirtythree design
	http://www.nodethirtythree.com

-->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>名字對戰製造機</title>
<meta name="keywords" content="name,pk,名字,對戰" />
<meta name="description" content="名字對戰, 製作自己的名字對戰機" />
  <%= stylesheet_link_tag "zenlike", "paginator", "itunes" %>
  <%= stylesheet_link_tag "namepk" %>
  <%= javascript_include_tag "jquery", "jquery.corner.js", "jquery.progressbar.min.js", "autopopulate" %>
  <%= yield :page_spec %>
  <script type='text/javascript'>
    $(function() {
        $('.up_rounded').corner("top");
        $('.rounded').corner();
    });
  </script>
</head>
<body>

  <div class="top_bar">
    <div class="top_info">
      <span class='alert_red'>名字對戰製造機</span> | 
      <%= link_to '早鳥網', home_url %>
    </div>
  </div>


<div id="outer">
	<div id="header" class='up_rounded'>
		<div id="headercontent">
      <h1><%= link_to '名字對戰製造機', :action => 'index' %></h1>
		</div>
  </div>
  <div class='clear'></div>
	
	<div id="menu">
    <!-- HINT: Set the class of any menu link below to "active" to make it appear active -->
    <% act_name = controller.action_name %>
		<ul>
      <li><%= link_to '首頁', {:action => 'index'}, :class => here?(act_name, 'index') %></li>
		</ul>
	</div>
	<div id="menubottom"></div>

		<!-- Normal content: Stuff that's not going to be put in the left or right column. -->
		<div id="normalcontent">
        <script type="text/javascript"><!--
          google_ad_client = "pub-0501077200190082";
          /* 728x90, 已建立 2008/10/8 */
          google_ad_slot = "5115898976";
          google_ad_width = 728;
          google_ad_height = 90;
          //-->
        </script>
        <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
		</div>

    <div class='clear'></div>
    <br />
  <div id="content">
    <%= show_messages %>
    <%= yield %>
  </div>
  <div id="siderbar">
    <%= render :partial => 'siderbar' %>
  </div>
  <div class='clear'></div>
  <br />
  <br />
  <br />
  <script type="text/javascript"><!--
    google_ad_client = "pub-0501077200190082";
    /* 728x90, 已建立 2008/10/13 */
    google_ad_slot = "3569937428";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
  </script>
  <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
  <div class='clear'></div>

	<div id="footer">
			<%= link_to "關於NamePK", :controller => 'about', :action => 'about'%>
			<%= mail_to "iwakela@gmail.com", "聯絡我" %>
    </div>

 <% if RAILS_ENV == "production" -%>
   <!-- google analytic -->
   <script type="text/javascript">
     var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
     document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
   </script>
   <script type="text/javascript">
     var pageTracker = _gat._getTracker("UA-4497093-1");
     pageTracker._initData();
     pageTracker._trackPageview();
   </script>
 <% end %>
	
</div>

</body>
</html>
